/* Source Sans Pro regular */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Source Sans Pro extra light */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


/* Source Sans Pro bold */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before,
:not(.screen > *) {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none;
}

body {
    overflow: hidden;
    background: #000;
}

.calculator {
  width: 400px;
  height: 700px;
  margin: 0 auto;
  background-image: url('assets/images/calc-bg.png');
}

.screen {
  width: 390px;
  height: 175px;
  margin: 0 5px 20px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 400;
  padding: 10px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.30);
  color: #fff;
  text-align: right;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(15px);
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, .2);
  transform: translate(0, 5px);
}

.screen::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(
322deg) translate(-65px, -123px) scale(1.3);
  opacity: .05;
  pointer-events: none;
}

.screen > .operations {
  max-width: 400px;
  word-wrap: break-word;
  margin-top: 40px;
}

.screen > .accumulator {
  font-size: 56px;
  max-width: 400px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 20px;
}

.screen > .previous-operands {
  opacity: .7;
}

.keypad {
  font-size: 0;
  width: 400px;
  display: grid;
  grid-template: 500px / 300px 100px;
}

.keypad-top {
  width: 300px;
}

.numpad {
  width: 300px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap-reverse;
}

.keypad-bottom {
  width: 300px;
}

.keypad-right {
  width: 100px;
}

.keypad button {
  width: 90px;
  height: 90px;
  background-color: rgba(0, 0, 0, .15);
  color: #fff;
  border: none;
  outline: none;
  font-size: 36px;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  transition: 150ms ease-in-out all;
  font-weight: 200;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  overflow: hidden;
}

.keypad button::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 90px;
  background-color: #fff3;
  border-radius: 50%;
  filter: blur(25px);
  transform: rotate(
144deg);
  bottom: 0;
  left: 7px;
  pointer-events: none;
}

.keypad button:hover {
  filter: brightness(1.1);
}

.keypad button:active {
  filter: brightness(0.6);
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.2);
}

.numpad button:hover, .keypad-bottom button:hover, .keypad-top button:hover {
  background-color: rgba(255, 255, 255, .10);
}

.numpad button:active, .keypad-bottom button:active, .keypad-top button:active {
  background-color: rgba(255, 255, 255, .20);
}

.keypad-right button {
  background-color: #9c29d188;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.keypad-right button.equals {
  background-color: #ff7300bb;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4);
}

.numpad button {
  flex-grow: 1;
}

.preload-transitions * {
  transition: none !important;
}